body {
    background-color: rgb(32, 34, 29);
}
/*Encabezado*/
.nav-link {
    font-weight: bold;
    color: white;
}
/* Cambiar el fondo del botón a la imagen PNG deseada */
.navbar-toggler {
    background-image: url('img/BM.png');
    background-size: cover;  /* Ajusta el tamaño de la imagen */
    width: 30px; /* Ancho deseado del botón */
    height: 30px; /* Altura deseada del botón */
    border: none; /* Quita cualquier borde si es necesario */
    
}

    h3 {
        color: white;
    }

.gallery {
    display: flex;
    overflow-x: hidden; 
    margin-right: 10px;
}
    

